html
  head
  title= title
  style
    include style.css
  body
    h1= message
    if locals.user
      a(href="/user") User Profile
      a(href="/logout") Log out
    else
      a(href="/login") Log in