:root {
  --main-bg-color: #f1f3f5;
  --main-color: #fff;
  --shadow: #f7f8fa;
}

body {
  background-color: var(--main-bg-color);
}

.title {
  font-family: "Roboto";
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem;
}

.seminars {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, 800px);
  grid-template-rows: auto;
}

.seminar {
  font-family: "Lato";
  padding: 1em;
  display: block;
  position: relative;
  border-radius: 4px;
  margin: 0 auto;
  background-color: var(--main-accent-color);
  color: #111111;
  box-shadow: 0 6px 8px rgba(102, 119, 136, 0.03),
    0 1px 2px rgba(102, 119, 136, 0.3), 0 8px 12px rgba(58, 193, 203, 0.1);
  transition: all 0.2s ease-in-out;
}

.seminar:hover {
  box-shadow: 0 8px 10px rgba(102, 119, 136, 0.03),
    0 3px 4px rgba(102, 119, 136, 0.3), 0 10px 14px rgba(58, 193, 203, 0.1);
}

.seminar-title {
  font-family: "Roboto";
  font-size: 1.2rem;
}

.seminar-startDate {
  text-align: right;
  font-weight: bold;
  margin-top: 1rem;
}
