:root {
  --main-bg-color: #1f232c;
  --main-color: #e6e6e6;
  --shadow: #f7f8fa;
}

body {
  background-color: var(--main-bg-color);
  width: 960px;
  margin: 0 auto;
  color: var(--main-color);
}

.title {
  font-family: "Roboto";
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem;
}

.seminars {
  display: grid;
  grid-gap: 1em;
  grid-template-rows: auto;
}

.seminar {
  font-family: "Lato";
  padding: 1em;
  display: block;
  position: relative;
  width: 100%;
  border-radius: 4px;
  margin: 0 auto;
  color: #e6e6e6;
  transition: all 0.2s ease-in-out;
}

.seminar::after {
  display: block;
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  background-color: var(--main-color);
}

.seminar:nth-child(1)::before {
  display: block;
  content: "";
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  background-color: var(--main-color);
}

.seminar:hover {
  box-shadow: 0 8px 10px rgba(102, 119, 136, 0.03),
    0 3px 4px rgba(102, 119, 136, 0.3), 0 10px 14px rgba(58, 193, 203, 0.1);
}

.seminar-title {
  font-family: "Roboto";
  font-size: 1.2rem;
}

.seminar-startDate {
  text-align: right;
  font-weight: bold;
  margin-top: 1rem;
}
